.userblogs-post-list {
	list-style: none;
	margin: 1em 0;
	padding: 0;
}

.userblogs-post-item {
	margin-bottom: 0.75em;
}

.userblogs-post-title a {
	font-weight: bold;
	text-decoration: none;
}

.userblogs-post-title a:hover {
	text-decoration: underline;
}

.userblogs-post-meta {
	display: block;
	font-size: 0.85em;
	color: #555;
}

.userblogs-comments-block {
	margin-top: 2em;
	border-top: 1px solid #ddd;
	padding-top: 1em;
}

.userblogs-comments-heading {
	font-size: 1.1em;
	margin-bottom: 0.5em;
}

.userblogs-comment-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.userblogs-comment-item {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0.5em 0.75em;
	margin-bottom: 0.5em;
}

.userblogs-comment-header {
	font-size: 0.85em;
	color: #444;
	margin-bottom: 0.25em;
}

.userblogs-comment-body {
	font-size: 0.95em;
}

.userblogs-user-index-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1em;
}

.userblogs-user-index-heading {
	font-weight: bold;
	font-size: 1.2em;
}

.userblogs-create-link {
	font-size: 0.9em;
	text-decoration: none;
}

.userblogs-create-link:hover {
	text-decoration: underline;
}

.userblogs-listing {
	margin: 1em 0;
}

.userblogs-listing-empty,
.userblogs-listing-error {
	margin: 0.5em 0;
	color: #666;
}

.userblogs-comments-wrapper {
	margin-top: 2em;
	border-top: 1px solid #ddd;
	padding-top: 1em;
}

.userblogs-comment-form-wrapper {
	margin-bottom: 1.5em;
}

.userblogs-comment-form-heading {
	font-size: 1.1em;
	margin-bottom: 0.5em;
}

.userblogs-comment-form {
	margin: 0;
}

.userblogs-comment-textarea {
	width: 100%;
	box-sizing: border-box;
}

.userblogs-comment-actions {
	margin-top: 0.5em;
}

.userblogs-comment-submit {
	padding: 0.4em 0.8em;
	cursor: pointer;
}

.userblogs-comment-loginrequired,
.userblogs-comment-permission {
	margin: 1em 0;
	color: #666;
}

.userblogs-comment-actions-bar {
	margin-top: 0.25em;
	font-size: 0.9em;
	color: #555;
}

.userblogs-comment-reply {
	cursor: pointer;
	text-decoration: none;
}

.userblogs-comment-reply:hover {
	text-decoration: underline;
}

.userblogs-comment-reply-status {
	margin-bottom: 0.5em;
	padding: 0.4em 0.6em;
	background-color: #f8f9fa;
	border-left: 3px solid #36c;
	font-size: 0.9em;
}

.userblogs-comment-reply-status a.userblogs-comment-cancel-reply {
	margin-left: 0.5em;
	font-weight: bold;
	text-decoration: none;
}

.userblogs-comment-reply-status a.userblogs-comment-cancel-reply:hover {
	text-decoration: underline;
}

